.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  border-radius: 15px;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}
